.modal-header{
	padding: .6em 1em;
	background-color: color-alpha( theme-color('primary'), 1);
	color: theme-color('white');
	h4{
		text-transform: uppercase;
	}

	svg{
		fill: theme-color('white');
		path{
			fill: theme-color('white');
		}
	}
	&>*{
		vertical-align: middle;
	}
	svg{
		width: auto;
		height: 1.7em;
		margin-right: 1em;
		margin-top: .15em;
	}
}